.imglogin{
    background-image: url('https://i.imgur.com/uykHGaG.png');
    min-height: 80vh;
    background-size: 94%;
    background-repeat: no-repeat;
    width: max(350px, 70%);
    margin: 0 auto;
    display: block;
}
