/* Mudanças nas páginas */
/* .navbar{
    background-color: #171818;
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.75rem;
    color:#F4F4F9;
    justify-content:center;
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 700;
} */