.box1{
    background-color: var(--blue);
    height: 100px;
}

.box2{
    background-color: var(--background);
    height: 60px;
}

.redes{
    color: white;
    font-size: 40px !important;
}

.textos{
    color: white;
}
