.imgcad{
    background-image: url('https://i.imgur.com/uykHGaG.png');
    min-height: 95vh;
    margin: 0 auto;
    background-size: 92%;
    background-repeat: no-repeat;
    /* transform: rotateY(180deg); */
}

.containercad{
    background-color: var(--white) !important;
}